/* reset */

* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {
    font-family: helvetica, sans-serif;
    background-color: black;
    color: white;
    line-height: 1.2;
    padding: 20px;
}

section {
  font-family: area-normal, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  line-height: 1.5;
  text-align: justify;
}


h1 {
    text-align: center;
    font-size: 5vw;
    letter-spacing: -.4vw;
    font-family: area-normal, sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
  padding-bottom: 20px;
}

h3 {
  padding-bottom: 10px;
}

p {
  padding-bottom: 30px;
}

.lecture {
  text-align: right;
  padding-left: 50%;
}


/* structure */
.spacer{
  height: 100vh;
  border: 2px solid red;
}



a {
  text-decoration: none;
  color: red;
  padding-right: 2vw;
  padding-left: 2vw;
}

nav {
  padding-top: 1vw;
  padding-bottom: 3vw;
  letter-spacing: -.1vw;
  font-size: 1.5vw;
  line-height: 1.2;
  text-align: center;
}




