body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.header {
    margin: auto;
    text-align: center;
    padding-top: 7rem;
}

main {
    padding-top: 14rem;
    width: 60vw;
	margin: 0 auto;
    text-align: center;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

.left {
    text-align: right;
    font-style: italic;
}


.effect {
    background-color: black;
}

.undo {
    background-color: white;
}

.title {
    font-size: 10rem;
    letter-spacing: -15px;
}

.author {
    font-size: 2rem;
    letter-spacing: -3px;
}